.bs-component(style="margin-bottom: 15px;")
  #info__btns.btn-group.btn-group-toggle(data-toggle="buttons")
    label.btn.btn-primary.active
      input#option1(type="radio" name="options" autocomplete="off" checked="")
      | Общая информация и контакты
    label.btn.btn-primary
      input#option2(type="radio" name="options" autocomplete="off")
      | Производственные возможности
    label.btn.btn-primary
      input#option3(type="radio" name="options" autocomplete="off")
      | Заказы
    label.btn.btn-primary
      input#option4(type="radio" name="options" autocomplete="off")
      | Документы
section.info
  .info__content.info__content--common.info__content--active
    form.add-contractor.fix-contractor
      .row
        .col-md-2
          label(for="quarantine") Карантин 
          .btns-wrapper
            span.animated-radio-button
                label
                  input.fix-contractor__filled#quarantine--true(type="radio" name="quarantine" value="true")
                  span.label-text Да
            span.animated-radio-button
                label
                  input.fix-contractor__filled#quarantine--false(type="radio" name="quarantine" value="false") 
                  span.label-text Нет
        .col-md-2
          label(for="access") Доступ 
          .btns-wrapper
            span.animated-radio-button
              label
                input.fix-contractor__filled(type="radio" name="access" value="true" autocomplete="off")
                span.label-text Есть
            span.animated-radio-button
              label
                input.fix-contractor__filled(type="radio" name="access" value="false" autocomplete="off")
                span.label-text Нет
        .col-md-2
          label(for="priority") Приоритет 
          select#priority.form-control.fix-contractor__filled(name="priority")
            option(value="1") 1
            option(value="2") 2
            option(value="3") 3
            option(value="0") 0
            option(value="Хотят заказы") Хотят заказы
        .col-md-3
          label(for="orgform") ОПП 
          input.fix-contractor__filled#orgform.form-control(type="text" name="orgform" autocomplete="off")
        .col-md-3
          label(for="manager") Имя 
          input.fix-contractor__filled#manager.form-control(type="text" name="manager" autocomplete="off" placeholder=" Имя")

      .row
        .col-md-2
          fieldset.titles
            legend Названия
            input.fix-contractor__filled#title1.form-control(type="text" name="title_1" autocomplete="off" placeholder="Название 1")
        .col-md-2  
          label(for="city") Город 
          input.fix-contractor__filled#city.form-control(type="text" name="city" autocomplete="off" placeholder="Город")
        .col-md-2
          fieldset.addresses
            legend  Адреса 
            input.fix-contractor__filled#address1.form-control(type="text" name="address_1" autocomplete="off" placeholder="Адрес 1")
        .col-md-2
          fieldset.sites
            legend  Сайты
            input.fix-contractor__filled#site1.form-control(type="text" name="site_1" autocomplete="off" placeholder="Сайт 1")
        .col-md-2
          fieldset.phones
            legend Телефоны
            input.fix-contractor__filled#phone1.form-control(type="text" name="phone_1" autocomplete="off" placeholder="Телефон 1")
        .col-md-2
          fieldset.emails
            legend Почта
            input.fix-contractor__filled#email1.form-control(type="text" name="email_1" autocomplete="off" placeholder="Email 1")        
      .row
        .col-md-6
          label(for="comment") Комментарий 
          textarea.fix-contractor__filled#comment.form-control(rows="6" name="comment" autocomplete="off" placeholder="Комментарий")
        .col-md-6
          label(for="specialization") Специализация 
          input.fix-contractor__filled#specialization.form-control(type="text" name="specialization" autocomplete="off" placeholder="Специализация")
  .info__content.info__content--production
    p Производственные возможности в разработке
  .info__content.info__content--orders
    p Заказы в разработке
  .info__content.info__content--documents
    p Документы в разработке