.row
	.col-md-12
		table.table.table-bordered.table-machines
			tr
				th Тип станка
				th Количество
				th Длина
				th Ширина
				th Высота
				th Диаметр
				th Материал
				th Загружен до
				th Коментарий
			tr
				td 
					input.form-control#machine_type(type="text" placeholder="")
				td 
					input.form-control#machine_quantity(type="text" placeholder="")
				td 
					input.form-control#machine_length(type="text" placeholder="")
				td 
					input.form-control#machine_width(type="text" placeholder="")
				td 
					input.form-control#machine_height(type="text" placeholder="")
				td 
					input.form-control#machine_diameter(type="text" placeholder="")
				td 
					input.form-control#machine_material(type="text" placeholder="")
				td 
					input.form-control#machine_loading(type="date" placeholder="")
				td 
					input.form-control#machine_comment(type="text" placeholder="")
			