section.production-capacity
  .row
    .col-md-12
      h4.modal-title.text-center Производственные возможности
  .row
    .col-md-12
      table.table.table-bordered.table-machines
        tr
          th 
          th Тип станка
          th Количество
          th Длина
          th Ширина
          th Высота
          th Диаметр
          th Глубина
          th Модуль
          th Материал
          th Загружен до
          th Коментарий
        include _machine-row