html {
  box-sizing: border-box;
}

*, 
*:before, 
*:after {
  box-sizing: inherit;
}

body{
  margin: 0;
  font-family: 'Open Sans', Arial, sans-serif;
  display: flex;
  flex-direction: column;
  width: 100vw;
  height: 100vh;
  h1{
    margin: auto auto 0 auto;
  }
  p{
    margin: 0 auto auto auto;
    color: $color--blue;
  }
}